.header{
    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
    position: relative;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $tablet){
            flex-direction: column;
        }
    }
    &__menu, &__logo{

    }
    &__info{
        // float: left;
        @media screen and (max-width: $tablet){
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &__socials{

        &__title, &__menu{
            display: inline-block;
        }
        &__menu{

        }
        &__list{
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            text-align: center;
            line-height: 25px;
            color: #ffffff;
            i{
                color: #ffffff;
            }
            &:nth-child(1){
                background: $color__facebook;
            }
            &:nth-child(2){
                background: $color__instagram;
            }
            &:nth-child(3){
                background: $color__linkedin;
            }
        }
        @media screen and (max-width: $tablet){
            display: none;
        }
    }
    &__number, &__email{
        display: inline-block;
        line-height: 75px;
        @media screen and (max-width: $tablet){
            line-height: 30px;
            font-size: 14px;
        }
        i{
            margin-right: 5px;
        }
    }
    &__email{
        margin-left: 15px;
        @media screen and (max-width: $tablet){
            margin-left: 0;
        }
    }
    &__logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // float: left;
        @media screen and (max-width: $tablet){
            position: relative;
            top: 0;
            left: 0;
            transform: none;
        }
    }
    &__menu{
        // float: right;
    }
}