.container{
    max-width: 1356px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    // padding-bottom: 100px;
    overflow: hidden;

    @media screen and (max-width: $tablet){
        padding: 0 10px;
    }

    .row + .row{
        margin-top: 20px;
    }
}



.row{
    margin-left: -12px;
    margin-right: -12px;
    width: 100%;
    overflow: hidden;

    @media screen and (max-width: 480px){
        margin: 0;
    }
}
.col{
    padding: 0 12px;
    box-sizing: border-box;
    float: left;
    @media screen and (max-width: 480px){
        padding: 0 5px;
    }
}

.col-md-2{
    width: 20%;
    margin-top: 15px;

    @media screen and (max-width: 480px){
        width: 50%;
    }
    @media screen and (max-width: 320px){
        width: 100%;
    }
}

.col-md-3{
    width: 33.33%;
    margin-top: 15px;

    @media screen and (max-width: 480px){
        width: 100%;
    }
}

.col-md-12{
    width: 100%;
}

.col-md-4{
    width: 25%;
    margin-top: 15px;

    @media screen and (max-width: 480px){
        width: 100%;
    }
}


