<div class="header">
  <div class="container">
     <div class="header__info">
        <p class="header__number"><i class="fab fa-whatsapp"></i>+51 993-371-868</p>
        <p class="header__email"><i class="far fa-envelope"></i>ventas@joyeriasafn.com</p>
     </div>
     <div class="header__logo">
        <div class="logo">
           <h1 class="logo__title">JOYERÍAS AFN</h1>
        </div>
     </div>
     <div class="header__socials">
        <p class="header__socials__title">Siguenos:</p>
        <ul class="header__socials__menu">
           <li class="header__socials__list"><a href="https://www.facebook.com/joyeriasafn/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
           <li class="header__socials__list"><a href="https://www.instagram.com/afnjoyeria/" target="_blank"><i class="fab fa-instagram"></i></a></li>
           <li class="header__socials__list"><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
     </div>
     <nav class="header__menu" style="display:none;">
        <ul class="menu">
           <li class="page_item page-item-41"><a href="https://joyeriasafn.com/?page_id=41">Anillos</a></li>
           <li class="page_item page-item-39"><a href="https://joyeriasafn.com/?page_id=39">Aretes</a></li>
           <li class="page_item page-item-43"><a href="https://joyeriasafn.com/?page_id=43">Dijes</a></li>
           <li class="page_item page-item-131 current_page_item"><a href="https://joyeriasafn.com/" aria-current="page">Inicio</a></li>
           <li class="page_item page-item-16"><a href="https://joyeriasafn.com/?page_id=16">Inicio</a></li>
           <li class="page_item page-item-45"><a href="https://joyeriasafn.com/?page_id=45">Pulseras</a></li>
           <li class="page_item page-item-2"><a href="https://joyeriasafn.com/?page_id=2">Sample Page</a></li>
        </ul>
     </nav>
  </div>
</div>
<div class="container none">
  <div class="row">
     <div class="col col-md-12">
        <p class="home__text"></p>
     </div>
  </div>
</div>
<div class="homeCarousel">
  <div class="container">
     <div class="row">
        <div class="col col-md-12">
           <div class=" homeCarousel__content">
              <!--owl-carousel owl-theme-->
              <div class="item homeCarousel__item">
                 <div class="homeCarousel__item__box">
                    <div class="homeCarousel__item__right">
                       <h2 class="homeCarousel__title">Anillo de oro amarillo y oro blanco</h2>
                       <p class="homeCarousel__description">Cada una de nuestras joyas cuenta una historia.</p>
                       <a target="_blank" href="https://api.whatsapp.com/send?phone=51993371868&text=Quiero%20m%C3%A1s%20informaci%C3%B3n" class="homeCarousel__whatsapp">
                          <i class="fab fa-whatsapp-square"></i>
                          <p>Comprar por Whatsapp</p>
                       </a>
                    </div>
                    <div class="homeCarousel__item__left">
                       <img src="https://joyeriasafn.com/wp-content/themes/afnjoyeriatema/assets/images/anillo-5.png" alt="Anillo de oro amarillo y oro blanco" class="homeCarousel__item__left__img">
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="container">
  <div class="row">
     <h2 class="title__two">Anillos</h2>
     <div class="col col-md-4">
        <div class="card homeProducts__card">
           <img src="https://joyeriasafn.com/wp-content/uploads/2020/05/anillo-2-small.webp" alt="Aros de matrimonio" class="homeProducts__img" />
           <h2 class="homeProducts__title">Aros de matrimonio</h2>
           <p class="homeProducts__text">En oro amarillo de 18k y oro blanco de 18k, con detalles de piedras de zircon.</p>
        </div>
     </div>
     <div class="col col-md-4">
        <div class="card homeProducts__card">
           <img src="https://joyeriasafn.com/wp-content/uploads/2020/05/anillo-4-small.webp" alt="Anillo de plata 950" class="homeProducts__img" />
           <h2 class="homeProducts__title">Anillo de plata 950</h2>
           <p class="homeProducts__text">con piedra lila</p>
           <p class="homeProducts__price">Precio: <span>120.00</span></p>
        </div>
     </div>
     <div class="col col-md-4">
        <div class="card homeProducts__card">
           <img src="https://joyeriasafn.com/wp-content/uploads/2020/05/anillo-3-small.webp" alt="Anillo de compromiso en oro amarillo" class="homeProducts__img" />
           <h2 class="homeProducts__title">Anillo de compromiso en oro amarillo</h2>
           <p class="homeProducts__text">de 18k con piedra de zircon de primera</p>
           <p class="homeProducts__price">Precio: <span>1129.00</span></p>
        </div>
     </div>
     <div class="col col-md-4">
        <div class="card homeProducts__card">
           <img src="https://joyeriasafn.com/wp-content/uploads/2020/05/anillo-9-small.webp" alt="Anillo de plata 950" class="homeProducts__img" />
           <h2 class="homeProducts__title">Anillo de plata 950</h2>
           <p class="homeProducts__text">con piedra de color citrino</p>
           <p class="homeProducts__price">Precio: <span>120.00</span></p>
        </div>
     </div>
  </div>
  <div class="row">
     <h2 class="title__two">Aretes</h2>
     <div class="col col-md-4">
        <div class="card homeProducts__card">
           <img src="https://joyeriasafn.com/wp-content/uploads/2020/05/arete-2-small.webp" alt="Aretes rositas" class="homeProducts__img" />
           <h2 class="homeProducts__title">Aretes rositas</h2>
           <p class="homeProducts__text">Aretes rositas</p>
           <p class="homeProducts__price">Precio: <span>90.00</span></p>
        </div>
     </div>
     <div class="col col-md-4">
        <div class="card homeProducts__card">
           <img src="https://joyeriasafn.com/wp-content/uploads/2020/05/arete-4-small.webp" alt="Aretes Delfin" class="homeProducts__img" />
           <h2 class="homeProducts__title">Aretes Delfin</h2>
           <p class="homeProducts__text">Plata tejida</p>
           <p class="homeProducts__price">Precio: <span>65.00</span></p>
        </div>
     </div>
     <div class="col col-md-4">
        <div class="card homeProducts__card">
           <img src="https://joyeriasafn.com/wp-content/uploads/2020/05/arete-3-small.webp" alt="Aretes Gatuno" class="homeProducts__img" />
           <h2 class="homeProducts__title">Aretes Gatuno</h2>
           <p class="homeProducts__text">En plata 950</p>
           <p class="homeProducts__price">Precio: <span>90.00</span></p>
        </div>
     </div>
     <div class="col col-md-4">
        <div class="card homeProducts__card">
           <img src="https://joyeriasafn.com/wp-content/uploads/2020/05/arete-5-small.webp" alt="Aretes Estrellas" class="homeProducts__img" />
           <h2 class="homeProducts__title">Aretes Estrellas</h2>
           <p class="homeProducts__text">Aretes estrellas</p>
           <p class="homeProducts__price">Precio: <span>76.00</span></p>
        </div>
     </div>
  </div>
  <div class="row homeDetails__row">
     <div class="col col-md-4">
        <div class="card homeDetails__card">
           <div class="homeDetails__ico">
              <img src="https://joyeriasafn.com/wp-content/themes/afnjoyeriatema/assets/svgs/details1.svg" alt="">
           </div>
           <p class="homeDetails__title">Personaliza tus joyas</p>
           <p class="homeDetails__text">Todos los productos pueden ser completamente personalizados de acuerdo a tus preferencias.</p>
        </div>
     </div>
     <div class="col col-md-4">
        <div class="card homeDetails__card">
           <div class="homeDetails__ico">
              <img src="https://joyeriasafn.com/wp-content/themes/afnjoyeriatema/assets/svgs/details2.svg" alt="">
           </div>
           <p class="homeDetails__title">100% Satisfacción garantizada</p>
           <p class="homeDetails__text"></p>
        </div>
     </div> 
     <div class="col col-md-4">
        <div class="card homeDetails__card">
           <div class="homeDetails__ico">
              <img src="https://joyeriasafn.com/wp-content/themes/afnjoyeriatema/assets/svgs/details3.svg" alt="">
           </div>
           <p class="homeDetails__title">Servicio orientado al cliente</p>
           <p class="homeDetails__text">Llámenos al 5500248 <br> Lunes - viernes, 8.00 - 18.00 h <br> ventas@joyeriasafn.com</p>
        </div>
     </div>
     <div class="col col-md-4">
        <div class="card homeDetails__card">
           <div class="homeDetails__ico">
              <img src="https://joyeriasafn.com/wp-content/themes/afnjoyeriatema/assets/svgs/details4.svg" alt="">
           </div>
           <p class="homeDetails__title">Entrega asegurada gratuita</p>
           <p class="homeDetails__text">Joyerías AFN garantiza un envío seguro para cada pedido.</p>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12">
        <div class="homeOpinions__top">
           <p class="homeOpinions__title">Opiniones de nuestros clientes</p>
        </div>
     </div>
     <div class="col-md-3 col">
        <div class="homeOpinions__boxes">
           <div class="homeOpinions__box">
              <div class="homeOpinions__image">
                 <img src="https://joyeriasafn.com/wp-content/themes/afnjoyeriatema/assets/images/testimonio1.png" alt="">
              </div>
              <div class="homeOpinions__stars">
                 <ul class="homeOpinions__stars__menu">
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                 </ul>
              </div>
              <div class="homeOpinions__stars"></div>
              <p class="homeOpinions__name">Brigitte Yanina Deza Delgado</p>
              <div class="homeOpinions__country">Perú</div>
              <p class="homeOpinions__text">
                 Las joyas que recibí de Joyerías AFN cada una fue tal cual lo imaginé. 
                 Cada detalle que tiene cada una de ellas son realmente hermosos, su calidad y servicio te permiten estar tan satisfechos con lo recibido.
                 Si estás soñando con alguna joya no lo dudes más, tienes a la mejor.
              </p>
           </div>
        </div>
     </div>
     <div class="col-md-3 col">
        <div class="homeOpinions__boxes">
           <div class="homeOpinions__box">
              <div class="homeOpinions__image">
                 <img src="https://joyeriasafn.com/wp-content/themes/afnjoyeriatema/assets/images/testimonio2.png" alt="">
              </div>
              <div class="homeOpinions__stars">
                 <ul class="homeOpinions__stars__menu">
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                 </ul>
              </div>
              <p class="homeOpinions__name">Rosario Karina López Cadillo</p>
              <div class="homeOpinions__country">Perú</div>
              <p class="homeOpinions__text">
                 Feliz por las joyas que recibí de AFN, me encantaron.
                 Todo fue como lo esperaba, el servicio y la calidad de primera.
                 Los mejores sin dudarlo.
              </p>
           </div>
        </div>
     </div>
     <div class="col-md-3 col">
        <div class="homeOpinions__boxes">
           <div class="homeOpinions__box">
              <div class="homeOpinions__image">
                 <img src="https://joyeriasafn.com/wp-content/themes/afnjoyeriatema/assets/images/testimonio3.png" alt="">
              </div>
              <div class="homeOpinions__stars">
                 <ul class="homeOpinions__stars__menu">
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                    <li class="homeOpinions__stars__list"><i class="fas fa-star"></i></li>
                 </ul>
              </div>
              <div class="homeOpinions__stars"></div>
              <p class="homeOpinions__name">Orfelina Poma Castro</p>
              <div class="homeOpinions__country">Perú</div>
              <p class="homeOpinions__text">
                 Toda reina merece tener corona!  Joyerías AFN es una firma de joyas personalizadas para mujeres,
                 piezas de joyería hechas en oro, plata, plata bañada y otros materiales de alta calidad. Con una extensa gama de propuestas
                 para matrimonios y toda ocasión, en sus colecciones también se presentan bijouterie y accesorios., les recomiendo a ojos cerrados,
                 mi favorita Joyerías AFN.
              </p>
           </div>
        </div>
     </div>
  </div>
</div>
<footer class="footer">
  <p class="footer__text">© JOYERÍAS AFN 2019 - 2020</p>
</footer>